<% extend('../base2base') %>

<section class="position-relative h-100 pt-5 pb-4">

  <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start h-100 pt-5">
    <div class="w-100 align-self-center pt-1 pt-md-4 pb-4" style="max-width: 526px;">

      <% if (!locals.tunnel_is_available) { %>
        <div class="alert alert-danger">
          <strong>Information!</strong> Le tunnel de vente n'est pas disponible pour le moment.
        </div>
      <% } else { %>
        <%- include('presentation') %>
        <%- include('form') %>
      <% } %>
      <hr class="my-4 mt-4 mb-5">
    </div>
  </div>

  <!-- Background -->
  <div
    class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block"
    style="background-image: url(/templates/assets/img/account/signin-bg.jpg);">
  </div>

</section>