<% extend('../base2base.ejs') %>

  <section class="position-relative h-100 pt-5 pb-4">

    <!-- Error message -->
    <div class="container d-flex flex-wrap justify-content-center justify-content-xl-start pt-5">
      <div class="w-100 align-self-end pt-1 pt-md-4 pb-4 mt-5 mb-4" style="max-width: 526px;">
        <h1 class="text-center text-xl-start text-danger">
          Oups ! Une erreur est survenue
        </h1>
        <p class="text-center text-xl-start text-muted mb-4">
          Nous n'avons pas pu traiter votre commande pour le moment. <br>
          Veuillez réessayer plus tard ou contacter notre service client pour plus d'assistance.
        </p>
        <div class="alert alert-warning">
          <strong>Note :</strong> Assurez-vous de vérifier votre connexion et réessayez. Si le problème
          persiste, notre équipe est là pour vous aider.
        </div>
        <a class="btn btn-primary d-block w-100 mt-4"
          href="/order/<%= tunnel_code %>">
          Réessayer de passer la commande ICI
        </a>
        <div class="alert alert-info">
          <p>Pour toute assistance immédiate, veuillez nous contacter :</p>
          <ul>
            <li><strong>WhatsApp :</strong> +225 07 571 483 21</li>
            <li><strong>Email :</strong> support@digital.geasscorp.com</li>
          </ul>
        </div>
        <p class="text-center text-xl-start text-muted mb-4">
          Merci pour votre patience. L'équipe <span class="fw-bolder">
            <%= appName %>
          </span>.
        </p>
        <hr class="my-4 mt-4 mb-5">
      </div>
    </div>

    <!-- Background -->
    <div class="position-absolute top-0 end-0 w-50 h-100 bg-position-center bg-repeat-0 bg-size-cover d-none d-xl-block"
      style="background-image: url(/templates/assets/img/account/error-bg.jpg);"></div>
  </section>